body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
button{
    border: none;
}
.example-img{
    width: 70px;
}